---
import Layout from '@layouts/Layout.astro'
import { getWorkout, getActivitiesForWorkout2 } from '@data/pocketbase'
import ActivityCard from '@components/activities/ActivityCard.astro'
import NavigationButton from '@components/NavigationButton.astro'

const { workout_id = '' } = Astro.params

let workout, activities
try {
  workout = await getWorkout(Astro.locals.pb, workout_id)
  activities = await getActivitiesForWorkout2(Astro.locals.pb, workout_id)
} catch (e) {
  console.error(e)
  return Astro.redirect('/dashboard')
}
---

<Layout title={workout.name}>
  <div>
    <div>
      {workout.name}
    </div>
    <div>
      {activities.length === 0 && <p>Nothing yet</p>}

      <ul>
        {
          activities.map((activity) => (
            <ActivityCard workout={workout} activity={activity} />
          ))
        }
      </ul>
    </div>
    <NavigationButton direction="back" href={`/dashboard`} />
  </div>
</Layout>
