---
const { workout, activity } = Astro.props
// TODO: show minutes to complete, equipment, tags, etc
if (!workout || !activity) {
  throw new Error('Missing required props: workout or activity')
}
const activityDisplayName =
  activity.name + (activity.side ? ' ' + activity.side : '')
---

<li class="activity-card">
  <a
    href={`/workout/${workout.id}/activity/${activity.id}`}
    aria-label={`View details for ${activity.name}`}
  >
    {activityDisplayName}
  </a>
</li>
