---
const { title = 'TBD' } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content="A workout managment tool" />
    <meta
      http-equiv="Content-Security-Policy"
      content="
      default-src 'self' data:;
      script-src 'self' 'unsafe-inline' 'unsafe-eval';
      connect-src 'self';
      img-src 'self' data: 127.0.0.1:8090;
      style-src 'self' 'unsafe-inline';
      object-src 'none';
    "
    />
    <script>
      import htmx from 'htmx.org'

      declare global {
        interface Window {
          htmx: typeof htmx
        }
      }

      window.htmx = htmx
    </script>
  </head>
  <body x-data hx-boost="true">
    <slot />
  </body>
</html>
